.friendsPhoto {
    cursor: pointer;
}
.friendsPhoto img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
    background-position: 0 0;
}
.friendsName{
    color: white;
}